* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  color: #baf1a1;
}

html {
  font-size: 10px;
  font-family: Saira Semi Condensed, sans-serif;
}

a {
  text-decoration: none;
  color: #fffdf9;
}

/* Header styles */

.container {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  max-width: 272rem;
  min-height: 100vh;
  background: url(images/header-back.png) center no-repeat;
  background-position: fixed;
  background-size: cover;
}

nav {
  width: 80%;
  margin: 0 auto;
}

ul {
  display: flex;
  padding-top: 4rem;
  font-size: 2.5rem;
  justify-content: space-around;
  font-weight: 500;
}

ul li {
  list-style: none;
}

ul li a:hover {
  color: #e8f9e9;
  transition-delay: 0.3s;
}

.header__title {
  position: relative;
  margin: 13% 0;
  text-align: center;
  color: #a3f1af;
  font-size: 10.2rem;
}

/* About Section */

.about {
  background: url(images/about-pot-back.png) center no-repeat;
  background-size: cover;
  background-position: fixed;
  width: 100%;
  max-width: 272rem;
  min-height: 70rem;
}

.about__heading {
  color: #fff;
  padding-top: 3rem;
  text-align: center;
  font-size: 2.6rem;
}

.about__grid-items {
  padding: 7rem 0;
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem 5rem;
}

.about__grid-item {
  border: 2px solid #a3f7bf;
  border-radius: 2%;
  width: 30rem;
  height: 40rem;

}

.about__grid-item h1 {
  padding-top: 40%;
  font-size: 2.0rem;
  text-align: center;
  color: #fff;
}

.about__grid-item p {
  padding: 10% 13%;
  font-size: 1.6rem;
  color: #fff;
}


.item-1 {
  position: relative;
  background: url('images/item-1.png') center no-repeat;
  background-size: cover;
}

.item-2 {
  position: relative;
  background: url('images/item-2.png') center no-repeat;
  background-size: cover;
}

.item-3 {
  position: relative;
  background: url('images/item-3.png') center no-repeat;
  background-size: cover;
}








/* Breakpoints */

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 7rem;
  }
}