/* General styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #baf1a1;
}

html {
  font-size: 10px;
  font-family: Saira Semi Condensed, sans-serif;
}

a {
  text-decoration: none;
  color: #fffdf9;
}

#header__menu-checkbox {
  display: none;
}

/* Header styles */

.container {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  max-width: 272rem;
  min-height: 100vh;
  background: url(images/header-back.png) center no-repeat;
  background-position: fixed;
  background-size: cover;
}

nav {
  width: 80%;
  margin: 0 auto;
}

ul {
  display: flex;
  padding-top: 4rem;
  font-size: 2.5rem;
  justify-content: space-around;
  font-weight: 500;
}

ul li {
  list-style: none;
}

ul li a:hover {
  color: #e8f9e9;
  transition-delay: 0.3s;
}

.header__title {
  position: relative;
  margin: 13% 0;
  text-align: center;
  color: #a3f1af;
  font-size: 10.2rem;
}

/* About Section */

.services {
  background: url(images/services-pot-back.png) center no-repeat fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  max-width: 272rem;
  min-height: 72.2rem;
}

.services__heading {
  color: #fff;
  padding-top: 3rem;
  text-align: center;
  font-size: 2.6rem;
}

.services__grid-items {
  padding: 7rem 0;
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem 5rem;
}

.services__grid-item {
  border: 2px solid #333333;
  border-radius: 2%;
  width: 30rem;
  height: 40rem;

}

.services__grid-item h1 {
  padding-top: 40%;
  font-size: 2.0rem;
  text-align: center;
  color: #fff;
}

.services__grid-item p {
  padding: 10% 13%;
  font-size: 1.6rem;
  color: #fff;
}


.item-1 {
  position: relative;
  background: url('images/item-1.png') center no-repeat;
  background-size: cover;
}

.item-2 {
  position: relative;
  background: url('images/item-2.png') center no-repeat;
  background-size: cover;
}

.item-3 {
  position: relative;
  background: url('images/item-3.png') center no-repeat;
  background-size: cover;
}

/* About Section */

.about {
  width: 100%;
  max-width: 272rem;
  min-height: 80vh;
  background: url(images/about-back.png) center no-repeat fixed;
  background-size: cover;
  position: relative;
}

.about__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 3rem;
  text-align: center;
  font-size: 2.6rem;
  padding: 8% 0;
}

.about__heading p {
  text-align: center;
}

/* Footer */

.footer__section {
  width: 100%;
  max-width: 272rem;
  min-height: 15vh;
  background-color: #272727;
}


.footer__section h3 {
  color: #fff;
  font-size: 1.6rem;
  padding: 1% 3%;
}

.footer__social-medias {
  position: relative;
  display: flex;
  margin: 0 3.2rem;
}

.footer__icon {
  font-size: 3rem;
  margin: 0 1rem;
}

.footer__icon_facebook {
  color: #2050b3;
}

.footer__icon_instagram {
  color: #cd486b;
}

.footer__icon_vk {
  color: #4c75a3;
}

.footer__contacts {
  color: white;
  font-size: 1.4rem;
}



/* Breakpoints */




@media screen and (max-width: 480px) {
  .header__title {
    font-size: 7rem;
  }
  
  .about__heading p {
    font-size: 1.7rem
  }

  .services__grid-item h1,
  .services__grid-item p {
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .about__heading p {
    font-size: 1.8rem
  }
}

@media screen and (max-width: 480px) {


  .header__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .header__title {
    margin: 40% 0;
  }

  .header__main-menu {
    display: none;
  }

  .main-menu li {
      width: 100%;
      display: block;
      font-size: 1.2rem;
  }

  .main-menu a{
    display: block;
    padding: 0.8rem;
  }
  .toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
    color: #000;
  }

  .toggle-button::after {
    content: attr(data-open);
    color: white;
    display: block;
    transition-duration: 1s;
    font-size: 1.5rem;
  }

  #header__menu-checkbox:checked + nav[role=navigation] .header__main-menu {
    display: grid;
  }

  #header__menu-checkbox:checked + nav[role=navigation] .toggle-button:after {
    content: attr(data-close);
  }
}

@media screen and (min-width: 480px) {
  nav ul li a:after,
  nav ul li a:before {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #50d890;
    transition: width .3s ease-in-out;
  }

  nav ul li a:hover::after,
  nav ul li a:focus::after,
  nav ul li a:hover::before,
  nav ul li a:focus::before {
    width: 100%;
  }
}
