/* General styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #baf1a1;
}

html {
  font-size: 10px;
  font-family: Saira Semi Condensed, sans-serif;
}

a {
  text-decoration: none;
  color: #fffdf9;
}

#header__menu-checkbox {
  display: none;
}

/* Breakpoints */

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 7rem;
  }
  
  .about__heading p {
    font-size: 1.7rem
  }

  .services__grid-item h1,
  .services__grid-item p {
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .about__heading p {
    font-size: 1.8rem
  }
}

@media screen and (max-width: 480px) {


  .header__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .header__title {
    margin: 40% 0;
  }

  .header__main-menu {
    display: none;
  }

  .main-menu li {
      width: 100%;
      display: block;
      font-size: 1.2rem;
  }

  .main-menu a{
    display: block;
    padding: 0.8rem;
  }
  .toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
    color: #000;
  }

  .toggle-button::after {
    content: attr(data-open);
    color: white;
    display: block;
    transition-duration: 1s;
    font-size: 1.5rem;
  }

  #header__menu-checkbox:checked + nav[role=navigation] .header__main-menu {
    display: grid;
  }

  #header__menu-checkbox:checked + nav[role=navigation] .toggle-button:after {
    content: attr(data-close);
  }
}

@media screen and (min-width: 480px) {
  nav ul li a:after,
  nav ul li a:before {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #50d890;
    transition: width .3s ease-in-out;
  }

  nav ul li a:hover::after,
  nav ul li a:focus::after,
  nav ul li a:hover::before,
  nav ul li a:focus::before {
    width: 100%;
  }
}
